# Unity ile ilgili klasör ve dosyalar
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
.utmp/
UserSettings/

# IDE ve araçlar
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DotSettings.user

# Unity özel dosyalar
*.blend1
*.blend1.meta
sysinfo.txt
mono_crash.*

# Uygulama çıktıları
*.apk
*.aab
*.exe
*.app
*.ipa

# Test sahneleri ve otomatik sahneler
InitTestScene*.unity*
Assets/InitTestScene*.unity*

# Crashlytics
crashlytics-build.properties

# Addressables
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# JetBrains Rider
/[Aa]ssets/Plugins/Editor/JetBrains*

# Diğer
ExportedObj/
.consulo/
unitycloud/
Assets/AssetStoreTools*
*.code-workspace
*.sln.iml
.DS_Store
Thumbs.db
desktop.ini
